.A1{
	color: black;
}

.S1{
	font-size: 13px;
}

.P1{
	color: #003f81;
	font-size: 18px;
}

.A2{
	color: black;
}

.P{
	color: #141f78;
}

.T{
	color: white;
}

.V{
	color: white;
}

.far{
	font-size: 35px;
}

.fas{
	font-size: 35px;
}

.P2{
	color: #003f81;
	font-size: 15px;
}

.I1{
	width: 635px;
	height: 305px;
}