.P1{
	color: #003f81;
	font-size: 20px;
}

.P2{
	color: #003f81;
	font-size: 20px;
	float: right;
}

.fab{
	font-size: 30px;
}

.far{
	font-size: 30px;
}

.T1{
	color: white;
	text-align: center;
}

.T2{
	color: white;
}

.T3{
	color: white;
	text-align: center;
}

.T4{
	color: white;
	text-align: center;
}