.A1{
	color: black;
}

.S1{
	font-size: 13px;
}

.P{
	color: #141f78;
}

.T{
	color: white;
}

.V{
	color: white;
}

.far{
	font-size: 35px;
}

.fas{
	font-size: 35px;
}

.IMG1{
	width: 1110px;
}

.P2{
	font-size: 22px;
}

.P3{
	color: #141f78;
	font-size: 23px;
}