.img{
	width: 350px;
}

.a{
	color: black;
}

.Texto{
	font-family: open sans,helvetica neue,Helvetica,Arial,sans-serif;
	color: black;
	font-size: 22px;
}

.Preço{
	color: black;
}

.Foto{
	width: 540px;
}

.P{
	color: #141f78;
}

.T{
	color: white;
}

.V{
	color: white;
}

.far{
	font-size: 35px;
}

.fas{
	font-size: 35px;
}