.A1{
	color: black;
}

.S1{
	font-size: 13px;
}

.P{
	color: #141f78;
}

.T{
	color: white;
}

.V{
	color: white;
}

.far{
	font-size: 35px;
}

.fas{
	font-size: 35px;
}

.IM1{
	width: 350px;
}

.P2{
	color: green;
	font-size: 19px;
}

.PS{
	font-size: 15px;
}